backports.entry-points-selectable==1.1.0
click==7.1.2
distlib==0.3.2
filelock==3.0.12
numpy==1.21.2
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
pbr==5.6.0
pip==21.2.4
platformdirs==2.3.0
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
python-dotenv==0.19.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
setuptools==57.0.0
six==1.16.0
stevedore==3.4.0
virtualenv==20.7.2
virtualenv-clone==0.5.6
virtualenvwrapper==4.8.4
wheel==0.36.2